*{
    padding: 0%;
    margin: 0%;
}
body{
 
}
.nav{
    display: flex;
    background-color: black;
    color: white;
    height: 60px;
}
.nav h2{
    padding-top: 1%;
}
.link{
    margin-left: 40%;
    padding-top: 1%;
}
ul li {
    display:inline;
    padding: 25px 30px;
    font-size: 20px;
    color:white;
    
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

.nav link{
    display: flex;
}
/* end of header section */
.sec1{
    background-color: #FFC900;
    height: 400px;
    display: flex;
}
.sec1 img{
    margin-left: 40%;
    width: 500px;
    padding-top: 1%;
}
.sec1 p{
    padding-left: 10%;
    padding-top: 10%;
    font-size: 35px;
}
.sec3{
    height: 400px;
}
.design{
    display: flex;
}
.python{
    box-sizing: border-box;
    margin: 15px;
    border: 2px solid rgb(83, 83, 83);
    height: 200px;
    width: 250px;
    border-radius: 10px;
    margin-left: 15%;
}
.py{
    padding-left: 10%;
    padding-top: 3%;
}
.con{
    padding-left: 10%;
    padding-top: 10%;
}
.sec3 h2{
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
}
.sec4 h2{
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
}
.description{
    display: flex;
    padding-top: 3%;

}

.web{
    margin-left: 40%;
}
.sec4{
    background-color: #FFC900;
    height: 500px;

}